<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Practical.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PracticalKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>104582591C733A6E00565C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1045826F1C733A6E00565C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1045827A1C733A6E00565C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104582971C733DB300565C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104582A01C733DB300565C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
